.home-link{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 35px;
    padding: 10px 0 50px;
    ul{
        li{
            a{
                color: #8AB7C6;
            }
        }
    }
    i{
        color: white;
        cursor: pointer;
    }
}


.company{
    width: 100%;
    padding: 50px 0;
    h1{
        color: white;
        padding: 25px 0;
        font-size: 48px;
    }
    .company-items{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4%;
        .company-item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 30px;
            padding: 50px 30px;
            border-radius: 25px;
            border: 2px solid transparent;
            transition: 0.6s;
            align-items: center;
            &:hover{
                background-color: #2A3C4E;
                border: 2px solid #46DBBF;    
                button{
                    // display: block
                    background-color: #46DBBF;
                    color: #2A3C4E;
                }          
            }
            h3{
                color: white;
                text-align: center;
                font-size: 28px;
            }
            button{
                // display: none;
                transition: 0.6s;
                padding: 15px 80px;
                background-color: transparent;
                // color: #2A3C4E;
                color: transparent;
                border-radius: 10px;
                border: none;
                outline: none;
                font-size: 20px;
                cursor: pointer;
                font-weight: 600;
            }
        }
    }
}




.benefit{
    width: 100%;
    // padding: 100px 0 0 0;
    // padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .benefit-title{
        color: white;
        font-size: 48px;
        padding: 25px 0;
    }
    .benefit-items{
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        display: flex;
        // flex-wrap: wrap;
        gap: 50px;
        .benefit-item{
            display: flex;
            height: 100%;
            // width: 40%;
            flex: 1;
            flex-direction: column;
            gap: 25px;
            padding: 30px;
            border-radius: 15px;
            background-color: #2A3C4E;
            h2{
                font-size: 24px;
                color: #46DBBF;
            }
            p{
                font-size: 18px;
                color: white;
            }
        }
    }
}


@media (max-width:1700px){
    main{
        padding: 0 100px;
        .company{
            padding: 50px 0;
            h1{
                padding: 25px 0;
                font-size: 44px;
            }
            .company-items{
                grid-template-columns: repeat(4, 1fr);
                gap: 20px;
                .company-item{
                    display: flex;
                    justify-content: center;
                    gap: 30px;
                    padding: 40px 20px;
                    border-radius: 25px;
                    border: 2px solid transparent;
                    transition: 0.6s;
                    align-items: center;
                    &:hover{
                        background-color: #2A3C4E;
                        border: 2px solid #46DBBF;    
                        button{
                            background-color: #46DBBF;
                            color: #2A3C4E;
                        }          
                    }
                    h3{
                        color: white;
                        text-align: center;
                        font-size: 28px;
                    }
                    button{
                        transition: 0.6s;
                        padding: 15px 50px;
                        background-color: transparent;
                        color: transparent;
                        border-radius: 10px;
                        border: none;
                        outline: none;
                        font-size: 20px;
                        cursor: pointer;
                        font-weight: 600;
                    }
                }
            }
        }
        .benefit{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .benefit-title{
                color: white;
                font-size: 48px;
                padding: 25px 0;
            }
            .benefit-items{
                display: flex;
                gap: 50px;
                .benefit-item{
                    display: flex;
                    height: 100%;
                    flex: 1;
                    flex-direction: column;
                    gap: 25px;
                    padding: 30px;
                    border-radius: 15px;
                    background-color: #2A3C4E;
                    h2{
                        font-size: 24px;
                        color: #46DBBF;
                    }
                    p{
                        font-size: 18px;
                        color: white;
                    }
                }
            }
        }
    }
}
@media (max-width:1120px){
    main{
        padding: 0 20px;
        .company{
            padding: 30px 0;
            h1{
                padding: 25px 0;
                font-size: 36px;
            }
            .company-items{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
                .company-item{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 30px;
                    padding: 40px 20px;
                    border-radius: 25px;
                    border: 2px solid transparent;
                    transition: 0.6s;
                    align-items: center;       
                    }
                    h3{
                        text-align: center;
                        font-size: 28px;
                    }
                    button{
                        padding: 15px 50px;
                        border-radius: 10px;
                        border: none;
                        outline: none;
                        font-size: 20px;
                    }
                }
            }
        }
        .benefit{
            width: 100%;
            padding: 50px 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .benefit-title{
                font-size: 36px;
                padding: 25px 0;
            }
            .benefit-items{
                display: flex;
                gap: 30px;
                .benefit-item{
                    display: flex;
                    height: 100%;
                    flex: 1;
                    flex-direction: column;
                    gap: 25px;
                    padding: 30px;
                    border-radius: 15px;
                    h2{
                        font-size: 22px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
        }
    }
}

@media(max-width:786px){
    main{
        .company{
            h1{
                font-size: 28px;
            }
            .company-items{
                grid-template-columns: repeat(1, 1fr);
            }
        }
        .benefit{
            .benefit-title{
                font-size: 28px;
            }
            .benefit-items{
                flex-direction: column;
            }
        }
    }
}